@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

nav {
  text-align: left;
  width: 100%; 
  padding: 0px;
}
.navbar{
  padding: 0px;
  background-color: #252934;
  border-bottom: 3px solid #04c2c9;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  font-weight: bold;
  font-size: medium;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #04c2c9;
}

#wrapper {
  overflow: hidden;
  height:100%;
  width:100%;
  text-align: center;
  display: table;
  position:absolute;
}

#title {
  display: table-cell;
  vertical-align: middle;
  z-index: 999;
}

#title h2 {
  color: #fff;
  font-size: 45px;
  font-family: "museo-slab";
}

#title h3 {
  color: #fff;
  font-size: 25px;
  font-family: "museo-sans";
  font-weight: 300
}


#wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1950px;
  height: auto; 
}
@media only screen and (max-width: 649px) {
  #canvasdiv {
    z-index: 1;
    width: 100%;
    height:400px;
  }
}
#canvas {
  z-index: 1;
  width:1950px;
  height:600px;
}
#canvasbg {
  z-index: -10;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.6;
  width:1950px;
  height:600px;
}

.text {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  padding-top: 50px;
}

.aboutimg {
  margin-left: 26%;
  width: 250px;
  height: 250px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/*ipad Pro */
/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .aboutimg {
      margin-left: 20%;
    }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .aboutimg {
      margin-left: 26%;
    }
}
/*ipad*/
/*landscap*/
/* @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
  .aboutimg{
    margin-left: 21%;
  }
}

/*potrait*/
/* @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  .aboutimg{
    margin-left: 32%;
  }
 }  */


@media only screen and (max-width: 920px) {
  .aboutimg{
    margin-left: 32%; /*21%*/
  }
}
@media only screen and (max-width: 600px) {
  .aboutimg {
    margin-left: 13%;
  }
}

/* Bar Graph Horizontal */
.bar {
  background: #ecb807;
  width: 0;
  margin: .25em 0;
  color: #fff;
  position: relative;
  transition: width 2s, background 0s;
  /* -webkit-transform: translate3d(0, 0, 0); */
  clear: both;
}
.label {
  font-size: 10px;
  padding: 1em;
  background: #3d3d3d;
  width: 12em;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}


 .count {
  position: absolute;
  right: .25em;
  top: 9px;
  padding: .15em;
  font-size: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif; 
 }
 
 .hex {
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: #27aae1;
  border-color: #27aae1;
  position: relative;
  display: inline-block;
}
.hex:before {
  content: " ";
  width: 0; 
  height: 0;
  border-bottom: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}
.hex:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  bottom: -30px;
  color: #27aae1;
}

.icon-multi-task {
  margin-left: 17%;
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  background: url("../img/mt.png");
  background-size: cover;
}

.icon-creative {
  margin-left: 21%;
  margin-top: 6%;
  position: relative;
  display: block;
  width: 65px;
  height: 55px;
  background: url("../img/creative.png");
  background-size: cover;
}

.icon-organized {
  margin-left: 26%;
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  background: url("../img/organized.png");
  background-size: cover;
}

.icon-quick-lerner {
  margin-left: 24%;
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  background: url("../img/quicklearner.png");
  background-size: cover;
}

@media only screen and (max-width: 920px) {
  .custom-col {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

input, textarea {
  border: none;
  padding: 1rem;
  width: 100%;
  height: 40%;
  transition: 200ms;
  background: #252934;
}

input[type=text], input[type=email], textarea {
  border-bottom: 1px solid #fafafa;
  background: transparent;
  color: #fafafa;
  font-size: 1.0rem;
  box-shadow: none;
  outline: none;
}

textarea {
  height: 100px;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  font-weight: bold;
  border: 2px solid white;
  cursor: pointer;
  background: #252934;
  margin-top: 1rem;
  width: auto;
  font-size: 1.0rem;
}

input[type=submit]:hover {
  background: #04c2c9;
  color: black;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:not(output):focus,
input[type="email"]:not(output):focus,
textarea:focus {
  border-bottom: 1px solid #04c2c9;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  cursor: pointer;
  color: #fff;
  background: #04c2c9;
  border: #04c2c9;
}

::placeholder {
  color: #fafafa;
}

.hr-main {
  background: white; 
  margin-top: 0px
}

.Footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contentsection {
  padding-top: 55px;
  padding-bottom: 2rem;
}

.contentsection-heading h2 {
  font-size: 3rem;
}

.contentsection-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}


.project{
    border: #04c2c9 4px solid;
    width: 100%;
    height: 200px;
    text-align: center;
    border: 5px solid #07cb79;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    background: #252934;
}